:root {
    --orang--color: #e59560;
    --Navy--color: #35434e;
    --White--color: #f2f2f2;
    --residential--color:#ccc;
}
body{
    direction: rtl;
    text-align: right;
    height: 3000px;
}
/*start navbar*/
.navbar-edit{
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    transition: 1.5s; 
}
.back-color-nav{position: fixed;}
/*serch*/
.serch-dropdown
{
   background-color:transparent !important;
   background-clip:unset;
   border: 0 !important;
   border-radius: 0 !important;
   top: 88%;
   width: 100%;
}
/*serch*/
/*start notification*/
.continar-notification{
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%); 
    position: absolute;
    top: 84px;
    display: none;
    padding: 0;
    width: 380px;
    left: 12%!important;
    text-align: right;
    background-color: var(--White--color);
    border-top: 0;
    border: 0;
    font-size: 16px;
}
.continar-notification ul{
    position: relative;
    list-style: none;
    height: 280px;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.continar-notification ul li{
    position: relative;
    padding: 10px 10px 10px 5px;
    font-size: 14px;
    line-height: 1.4285714;
    white-space: normal;
    word-break: break-word;
}
.img-profile{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 3px !important;
    border-radius: 50%;
}
.continar-notification .time-notification{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #8e8c8c;
}
.continar-notification .footer-notification{background-color: var(--Navy--color);color: var(--White--color);text-align: center;}

.continar-notification .footer-notification a{color:var(--residential--color)}

.continar-notification .footer-notification i{color: var(--orang--color);margin-left: 8px;}

.continar-notification .footer-notification a:hover{color: var(--orang--color)!important;text-decoration: none;}
/*end notification*/
/*start maseges*/
.continar-maseges{left: 7%!important;}

.continar-maseges .text-maseges{color:var(--Navy--color);}

.continar-maseges a{text-decoration: none;}

/*end maseges*/
/*start profile*/
.main-img-profile{
    margin-top: -7px!important;
    margin-right: 0px!important;
    object-fit: cover;
    border-radius: 50%;
    width: 35px;
    height: 35px;   
}
.drop-nav-profile{
    top: 144%;
    left: 15px;
    width: 200px;
    margin: 0;
    background-color:var(--Navy--color);
}
.drop-nav-profile a{
    text-align: right;
    padding: .75rem 1.5rem;
    background-color: var(--White--color);
    color:#9b9d9e;
}
.drop-nav-profile a i{ margin-left: 10px;font-size: 23px;color: var(--Navy--color);}

/*end profile*/

.logo{color:var(--residential--color) !important;font-size: 40px;font-family: 'Lemonada', cursive;}

.logo span{margin-right: 10px;color:var(--orang--color);}

.sticky{background-color: var(--Navy--color); transition: 1.5s;}

.navbar-edit ul li .main-text-nav{ font-size: 17px; margin-right: 50px;  color:var(--White--color) !important;}

.navbar-edit ul li .main-text-nav i{font-size: 20px; margin-left: 10px;}

.icon-nav{font-size: 25px;color: var(--White--color);margin-left: 20px;}

.icon-nav-space{margin-right:128px;}

/*end navbar*/
/*start background*/
.background-section{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    }
    .video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    }
    .color-overlay{
    position:absolute;
    top:0;
    left:0;
    background-color: #00000024;
    width:100%;
    height:100vh;
    }
    /*end background*/
/* start eidt namesaction*/
.namesaction .colarname { color:var(--Navy--color); font-family: fangsong;}
.namesaction .btn{
    float: left;
    top: 50%;
    font-family: fangsong;
    font-weight: 800;
    border:var(--orang--color) solid 1px;
}
.namesaction .dropdown-item {
    background-color:var(--White--color); 
    border: 0;
    font-weight: 900;
    color: #1d212485;
    text-align: center;
    padding: 5px;
}
.namesaction .dropdown-menu{ min-width: 7rem;}
/* end eidt namesaction*/
/* start eidted section*/
.section-box .card-group .card { margin: 20px ;opacity: 0.80; border: 4px var(--White--color) solid;}

.section-box .card-group .card:hover{
        opacity: 1;
        transform: scale(1.1,1.1);
        transition: 1s;
        box-shadow:var(--residential--color) 2px 2px 3px 2px    ;
}
.section-box .card-body {padding: 2px;}

.section-box .section-work h4{ font-size: 15px; text-align: right; }    

.infromtion { margin: 200px;}

.section-box .btn:not(:disabled):not(.disabled) { text-decoration: none;}

.section-box .btn-link { color: var(--Navy--color);}

.section-box .btn-link:hover {text-decoration: none;color: var(--Navy--color);}

.section-box .card-group .card .imge{  position: relative;}

.section-box .card-group .card .card-body{
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
}
.section-box .card-group .card .card-body h5{ 
    color:var(--White--color);
    font-family: fangsong;
    font-size: 17px;
    font-weight: bold;
}
.section-box .card-group .card:hover .card-body  hr{ background-color: #e4945fb8; opacity: 4;}

    .section-box .card-group .card .card-footer{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,50%);
    }
    .section-box .btn:focus, .btn.focus {box-shadow:none;}

    .section-box .card-footer { border-top: none;}

    .section-box .card-group .card .card-footer button{
        padding: 10px;
        display: none;
        transition:0.5;
        font-size: 13px;
        background-color:#e4945fb8;
    }
    .section-box .btn-dark {border-color:#e4945fb8; }

    .section-box .card-group .card:hover .card-footer button {  display:block;  opacity: 2;}

    .section-box .card-group .card .card-footer button:hover{ background-color: #ec7d33;}

    .card-footer {  border-top: 1px solid none;}

    .section-box .btn-primary {color: var(--White--color);border: none;}

    .section-box .card-group .card .card-footer a{text-decoration-line: none; }

    .section-box hr{width: 150px;}

        .section-box .visit-wibsite ul {
            position: absolute;
            list-style: none;
            left: 40%;
            top: 50;
            transform: translate(-17%,50%);
        }
    .section-box .visit-wibsite ul li{float: left; }

    .section-box .card-group .card:hover .visit-wibsite ul li i{display: block;opacity: 0.90;}

    .section-box .visit-wibsite ul li i{
        display: none;
        opacity: 1;
        color: yellow;
        animation-name:change-color ;
        animation-duration: 1s;
        animation-direction:alternate;
        animation-timing-function: ease-in;
    }
.butoom-section{margin-top: 30px;}

    @keyframes change-color{
        0%{
            color: var(--White--color); }
        100%{
            color: yellow;  } }

    .section-box .vist h3{
        display: none;
        position: absolute;
        left: 45%;
        bottom:35px;
        transform: translate(-17%,50%);
        color:var(--White--color);
        font-size: 15px;
    }
    .section-box .card-group .card:hover .vist h3{display: block;}

    .section-box .btn-dark { color:var(--White--color); background-color:var(--orang--color);}
    
     /* end eidted section*/
