/*navbar*/

@media(max-width:991px){.icon-nav-space{margin: 0!important;}}

@media(min-width:991px) and (max-width:1150px){
    
    .navbar-edit ul li .main-text-nav{margin: 0!important;font-size: 14px;}
    
    .icon-nav-space{margin: 0!important;}
}

@media(min-width:1150px) and (max-width:1362px){

    .navbar-edit ul li .main-text-nav{margin-right: 15px!important;}

    .icon-nav-space{margin-right:50px!important;}

}
/*navbar*/
/*section*/

@media(max-width:343px){
    .section-box .visit-wibsite ul { transform: translate(-12%,50%);}
    .section-box .visit-wibsite ul {left: 35%;}
    }
    @media (min-width:344px) and (max-width:412px){
        .section-box .card-group .card {left: -16%;}
        .section-box .visit-wibsite ul {left: 35%;transform: translate(-12%,50%);}
    }
    @media (min-width:413px) and (max-width:528px){
        .section-box .card-group .card {margin-right: 130px;}
        .section-box .visit-wibsite ul {left: 35%;transform: translate(-12%,50%);}
    }

    @media (min-width:529px) and (max-width:548px){
        .section-box .card-group .card {left: -50%;}
        .section-box .visit-wibsite ul {left:35%;}
        .section-box .visit-wibsite ul {transform: translate(-13%,50%);}
    }
    @media (min-width:549px) and (max-width:574px){
    .section-box .visit-wibsite ul {left: 35%;}
    .section-box .card-group .card { left: -50%;}
    }

    @media(max-width:767px){
    .section-box .visit-wibsite ul {top: 10%;}
    .section-box .vist h3 { bottom: 20px; font-size: 13px;}
    .section-box .card-group .card .card-body { top: 40%;}
    .section-box .card-group .card .card-footer { top: 37%;}
    .section-box .card-group .card .card-footer button { padding: 1px;}
    }
    @media (min-width:576px) and (max-width:768px){.section-box .visit-wibsite ul {left: 63xp;left: 35px;top: 15%;transform: translate(35%,50%);}
    
    .section-box .visit-wibsite ul li { font-size: 10px;}
    .section-box hr {width: 100px;}
    .section-box .card-group .card .card-body h5 {font-size: 14px;}
    .section-box .vist h3 {font-size: 15px;}
    .section-box .card-group .card .card-body { top: 40%;}
    .section-box .card-group .card .card-footer { top: 34%;}
    .section-box .card-group .card .card-footer button { padding: 1px;font-size: 10px;}
    .section-box .vist h3 {font-size: 10px;}
    }
    @media (min-width: 992px) and (max-width: 1125px){
    .section-box .card-group .card .card-footer {top: 47%;}
    .section-box .card-group .card .card-footer button { padding: 1px;}
    .section-box .vist h3 {left: 43%;bottom: 20px;}
    }
    /*section*/
    /*login*/
    @media (max-width: 870px){
        .login-containers{ min-height: 800px;height: 100vh;}

        .login-containers::before {
         width: 1500px;
         height: 1500px;
         left: 30%;
         bottom: 60%;
         transform: translateX(-50%);
         right: initial;
         top: initial;
         transition: 2s ease-in-out;
        }
        .signin-signgup{
            width: 100%!important;
            left: 50%!important;
            top: 95%!important;
            transform: translate(-50%, -100% )!important;
            transition:1s 0.8s ease-in-out ;
        }    
        .panels-container{grid-template-rows: 1fr 2fr 1fr;}

        .right-panel .content, .right-panel .image-sign-in{transform: translateY(300px);}

        .panel{
            flex-direction: row!important;
            justify-content: space-around!important;
            align-items: center!important;
            padding: 2.5rem 8%;
        }
        .panel .content{ padding-right: 170%;transition: 0.9s 0.8s ease-in-out;}

        .panel h3{font-size: 1.2rem;}

        .panel p{font-size: 0.7rem;padding: 0.5rem 0;}

        .login-containers .transparent{width: 110px;height: 35px;font-size: 0.7rem;}

        .sign-up-mode::before{transform: translate(-50%, 100%);bottom: 35%!important;right: initial;}

        .login-containers .image-sign-in{ width: 100%;transition: 0.9s 0.6s ease-in-out;}

        .sign-up-mode .left-panel .image-sign-in,
        .sign-up-mode .left-panel .content{
            transform: translateY(-300px);
        }
        .sign-up-mode .signin-signgup{ top: 3%!important;transform: translate(-50%, 0)!important;left: 50%!important;}

        .left-panel{grid-row: 1/2;}

        .right-panel{grid-row: 3/4;}
    
    }
    @media (max-width: 570px){
        .login-containers form{padding: 0 1.5rem;}

        .login-containers .image-sign-in{display: none;}

        .panel .content{padding: 8px 11rem;}

        .login-containers::before{bottom: 72%;left: 50%;}
        
        .sign-up-mode::before{bottom: 28%!important;left: 50%;}
    }
    /*login*/

