/*navbar*/

@media(max-width:991px){.icon-nav-space{margin: 0!important;}}

@media(min-width:991px) and (max-width:1150px){
    
    .navbar-edit ul li .main-text-nav{margin: 0!important;font-size: 14px;}
    
    .icon-nav-space{margin: 0!important;}
}

@media(min-width:1150px) and (max-width:1362px){

    .navbar-edit ul li .main-text-nav{margin-right: 15px!important;}

    .icon-nav-space{margin-right:50pxs!important;}

}
/*navbar*/
/*section*/

@media(max-width:343px){
    .section-box .visit-wibsite ul { transform: translate(-12%,50%);}
    .section-box .visit-wibsite ul {left: 35%;}
    }
    @media (min-width:344px) and (max-width:412px){
        .section-box .visit-wibsite ul {left: 40%;transform: translate(-12%,50%);}
    }
    @media (min-width:413px) and (max-width:528px){
        .section-box .card-group .card {margin-top: 30px;}
        .section-box .visit-wibsite ul { left: 43%;;transform: translate(-12%,50%);}
    }

    @media (min-width:529px) and (max-width:548px){
        .section-box .visit-wibsite ul {left:45%;}
        .section-box .visit-wibsite ul {transform: translate(-13%,50%);}
    }
    @media (min-width:549px) and (max-width:574px){
    .section-box .visit-wibsite ul {left: 45%;}
    }

    @media(max-width:767px){
    .section-box .visit-wibsite ul {top: 10%;}
    .section-box .vist h3 { bottom: 20px; font-size: 13px;}
    .section-box .card-group .card .card-body { top: 40%;}
    .section-box .card-group .card .card-footer { top: 37%;}
    .section-box .card-group .card .card-footer button { padding: 5px;}
    }
    @media (min-width:576px) and (max-width:768px){.section-box .visit-wibsite ul {left: 31px;top: 15%;transform: translate(35%,50%);}
    
    .section-box .visit-wibsite ul li { font-size: 10px;}
    .section-box hr {width: 100px;}
    .section-box .card-group .card .card-body h5 {font-size: 14px;}
    .section-box .vist h3 {font-size: 15px;}
    .section-box .card-group .card .card-body { top: 40%;}
    .section-box .card-group .card .card-footer { top: 34%;}
    .section-box .card-group .card .card-footer button { padding: 1px;font-size: 10px;margin-top: 20px;}
    .section-box .vist h3 {font-size: 10px;}
    }
    @media (min-width: 992px) and (max-width: 1125px){
    .section-box .card-group .card .card-footer {top: 47%;}
    .section-box .card-group .card .card-footer button { padding: 1px;}
    .section-box .vist h3 {left: 43%;bottom: 20px;}
    }
    /*section*/
    /* start-responsive-information-pr*/
@media (min-width: 992px) and (max-width: 1125px){
    .ul-styly { margin-left: 510px;}
}
/* end-responsive-information-pr*/
    /*edit-inforamtion*/
    @media(max-width:767px){

        .account-form {
            border: 1px solid var(--Navy--color);
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    /*login*/
    @media (max-width: 870px){
        .login-containers{ min-height: 800px;height: 100vh;}

        .login-containers::before {
         width: 1500px;
         height: 1500px;
         left: 30%;
         bottom: 60%;
         transform: translateX(-50%);
         right: initial;
         top: initial;
         transition: 2s ease-in-out;
        }
        .signin-signgup{
            width: 100%!important;
            left: 50%!important;
            top: 95%!important;
            transform: translate(-50%, -100% )!important;
            transition:1s 0.8s ease-in-out ;
        }    
        .panels-container{grid-template-rows: 1fr 2fr 1fr;}

        .right-panel .content, .right-panel .image-sign-in{transform: translateY(300px);}

        .panel{
            flex-direction: row!important;
            justify-content: space-around!important;
            align-items: center!important;
            padding: 2.5rem 8%;
        }
        .panel .content{ padding-right: 170%;transition: 0.9s 0.8s ease-in-out;}

        .panel h3{font-size: 1.2rem;}

        .panel p{font-size: 0.7rem;padding: 0.5rem 0;}

        .login-containers .transparent{width: 110px;height: 35px;font-size: 0.7rem;}

        .sign-up-mode::before{transform: translate(-50%, 100%);bottom: 35%!important;right: initial;}

        .login-containers .image-sign-in{ width: 100%;transition: 0.9s 0.6s ease-in-out;}

        .sign-up-mode .left-panel .image-sign-in,
        .sign-up-mode .left-panel .content{
            transform: translateY(-300px);
        }
        .sign-up-mode .signin-signgup{ top: 3%!important;transform: translate(-50%, 0)!important;left: 50%!important;}

        .left-panel{grid-row: 1/2;}

        .right-panel{grid-row: 3/4;}
    
    }
    @media (max-width: 570px){
        .login-containers form{padding: 0 1.5rem;}

        .login-containers .image-sign-in{display: none;}

        .panel .content{padding: 8px 11rem;}

        .login-containers::before{bottom: 72%;left: 50%;}
        
        .sign-up-mode::before{bottom: 28%!important;left: 50%;}
    }
    /*login*/

    /*section new*/
    @media screen and (max-width: 767px) {
        .material-card.mc-active {
          padding-bottom: 0;
          height: auto;
        }
        .material-card.mc-active .mc-content {
            position: relative;
            margin-right: 16px;
          }
          .material-card.mc-active .mc-description {
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            padding: 50px 30px 70px 30px;
            bottom: 0;
          }
      }
      
    /*end section new*/

    /*details*/
    @media (max-width: 450px){
        .main-backgrond {
            background-color: var(--residential--color);
            padding-right: 0;
            padding-left: 0;
            padding-top: 40px;}}

    @media (max-width: 1180px){.h1-detals {margin-top: 90px;}}

    @media (min-width: 973.33px) and (max-width: 1095.56px){.btn-details-tow{margin: 10px;}}
    /*main page*/
    @media (min-width: 750px) and (max-width: 980px){.main-body-img .text-section-main-page{top: 15%;}}

    @media (max-width:973px){.owl-theme .owl-controls .owl-buttons div{margin-left: 10px;margin-right: 10px;}}
   
    /*slider mainpage*/

    @media only screen and (max-width: 990px){
        .owl-theme .owl-controls,
        .owl-prev,
        .owl-next{
            position: relative;
            left: 0;
            right: 0;
        }
    }
    @media only screen and (max-width: 768px){
        .testimonial .testimonial-content{
            padding: 15px 10px 12px;
        }
        .testimonial .rating{
            right: 12px;
        }
    }
    /*slider mainpage*/
    
/*loding*/

